<template>
  <div>
    <h3>Add Guides</h3>
    <div class="add">
      <form @submit="onSubmit">
        <input type="number" v-model="userId" placeholder="userId" />
        <input type="text" v-model="title" placeholder="title" />
        <input type="text" v-model="body" placeholder="body" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "AddGuide",
  data() {
    return {
      userId: "",
      title: "",
      body: "",
    };
  },
  methods: {
    ...mapActions(["addGuides"]),
    onSubmit(e) {
      e.preventDefault();
      this.addGuides({
        userId: parseInt(this.userId),
        title: this.title,
        body: this.body,
      });
    },
  },
};
</script>

<style scoped></style>
