<template>
  <div>
    Guide

    <!-- <div>
      {{ allGuides }}
    </div> -->

    <table>
      <tr>
        <th>UserId</th>
        <th>id</th>
        <th>titele</th>
        <th>body</th>
        <th>actions</th>
      </tr>
      <!-- <div v-for="user in allUsers" :key="user.id" > -->
      <tr v-for="user in allGuides" :key="user.id">
        <td>{{ user.userId }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.title }}</td>
        <td>{{ user.body }}</td>
        <td>
          <i @click="deleteGuides(user.id)" class="context-menu">delete</i>
          <i @click="update_Guides(user)" class="context-menu"> Update</i>
        </td>
      </tr>

      <!-- </div> -->
    </table>
    <div class="popup" v-if="popup">
      <div>edit</div>
      <br />
      <form @submit="onSubmit">
        <input type="number" v-model="userId" placeholder="userId" readonly />
        <input type="text" v-model="title" placeholder="title" />
        <input type="text" v-model="body" placeholder="body" />
        <br />
        <input type="submit" value="Submit" />
        <button @click="tpopup = false">cancel</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "User",
  data() {
    return {
      popup: false,
      id: "",
      userId: "",
      title: "",
      body: "",
    };
  },
  created() {
    this.getGuides();
  },
  computed: mapGetters(["allGuides"]),

  methods: {
    ...mapActions(["getGuides", "deleteGuides", "updateGuides"]),
    update_Guides(e) {
      this.popup = true;
      //   console.log(e.title);
      (this.id = e.id),
        (this.userId = e.userId),
        (this.title = ""),
        (this.body = "");
    },
    onSubmit(e) {
      e.preventDefault();
      this.updateGuides({
        id: parseInt(this.id),
        userId: parseInt(this.userId),
        title: this.title,
        body: this.body,
      });
      this.popup = false;
    },
  },
};
</script>
<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.context-menu {
  cursor: context-menu;
}
/* -------------- */
.popup {
  background: #e9e9e9c9;
  position: fixed;
  width: 180px;
  top: 50%;
  height: 160px;
  left: 39%;
  display: column;
  justify-content: center;
  padding: 11px;
}
</style>
