<template>
  <div>
    User
    <div class="user" v-for="user in allUsers" :key="user.id">
      <p>{{ user.id }} {{ user.name }} {{ user.address }}</p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "User",
  created() {
    this.getUsers();
  },
  computed: mapGetters(["allUsers"]),

  methods: {
    ...mapActions(["getUsers"]),
    // onDblClick(todo) {
    //   const updTodo = {
    //     id: todo.id,
    //     title: todo.title,
    //     completed: !todo.completed,
    //   };
    //   this.updateTodo(updTodo);
    // },
  },
};
</script>
<style scoped>
.user {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
</style>
