<template>
  <div id="app">
    <div class="container">
      <button @click="check = !check">switch</button>
      <div :class="{ switch: check == true }">
        <User />
      </div>

      <div :class="{ switch: check == false }">
        <AddGuide />
        <Guide />
      </div>
    </div>
  </div>
</template>

<script>
import User from "./components/User";
import Guide from "./components/Guide";
import AddGuide from "./components/AddGuide.vue";
export default {
  name: "app",
  components: {
    User,
    Guide,
    AddGuide,
  },
  data() {
    return {
      check: false,
    };
  },
};
</script>

<style>
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}
.switch {
  display: none;
}
</style>
